.side-bar {
	border-right: 1px solid #ddd; 
	background-color: #fefefe;
}

.side-bar .profile-area {
	margin: 2rem 15px;
}

.side-bar .side-bar-menu {
	text-align: left; 
	margin-top: 15px;
	border-top: 1px solid #ccc;
	padding: 15px;
}

.side-bar .nav-btn {
	color: #555;
	padding: 8px;
	font-size: 1.5rem;
	margin: 5px;
	cursor: pointer;
	display: block;
}

.side-bar .nav-btn svg{
	position: relative;
	left: -12px;
}

.side-bar .nav-btn:hover {
	color: #18a5e8;
}

.side-bar .nav-btn.selected {
	color: #0f7dcc;
	font-weight: 500;
}

.side-bar .profile-area svg {
	color: #999;
	cursor: default;
	font-size: 1.3rem;
	vertical-align: middle;
	margin: 0;
}

.side-bar .profile-area #profile-name {
	font-size: 1.5rem; 
	vertical-align: middle; 
	padding: 7px; 
	color: #555;
	font-weight: 400;
}