@media only screen and (max-width:590px) {
	/* For mobile phones: */

	body #file-zone {
		text-align:center;
	}
	
	body .listing-container {
		left: 0px;
		padding:0;
	}

	body #bar .path-separator, .path-location {
		display:none;
	}
	
	body #info-bar {
		text-align:center;
	}
	body #info-bar>span {
		display:block;
	}
	body #info-bar img {
		display:none;
	}
}

html, body {
	height:100%;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

input {
	font-family: 'Roboto', sans-serif;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.rename-input {
	padding-left: 3px;
    font-size: 12px;
}

#bar {
	position:absolute;
	top:0;
	width:100%;
	text-align: left;
    background: #fff;
	z-index:100;
	border-bottom: 1px solid #eaeaea;
	height: 35px;
	display: flex;
	justify-content: space-between;
}

#bar .path-separator {
	font-weight: 500;
	color: #999;
	font-size: 14px;
	top: -12px;
	position: relative;
	padding: 5px;
	cursor:pointer;
}

#bar .path-location {
	color: #665; 
	font-size: 12px; 
	top: -13px;
	position: relative; 
	padding: 9px; 
	cursor:pointer; 
	font-weight: 300;
}


/* Bar menu button */
#bar svg {
	font-size: 14px;
    color: #0869ff;
    padding: 10px;
    cursor: pointer;
	margin: 2px 7px;
	
} #bar svg:hover {
	color:#3283fb;
}

#file-zone {
    width: 100%;
    height: 100%;
	position:relative;
}

#file-zone .msg {
	font-size: 14px;
    margin: 15px;
    color: #0869ff;
    display: block;
    padding: 20px;
    text-align: center;
}

.listing-container {
	width:100%;
	position: relative;
    top: 45px;
	display:inline-block;
    box-sizing: border-box;
}

.f {
	display: inline-block;
    padding: 3px 6px;
    margin: 5px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
	overflow: hidden;
    text-overflow: ellipsis;
	width: 110px;
	vertical-align:top;
}

.f.selected {
	background-color:#efefef;;
}

.f.hidden {
	display:none;
}

/* General file icon */
.f svg {
	font-size: 20px;
    vertical-align: bottom;
}

.icons-view .f {
	width: 70px;
    padding: 12px;
	text-align:center;
}

.icons-view .f p {
	display: block;
	margin: 5px 0px;
	white-space: nowrap;
	overflow: hidden !important;
	text-overflow: ellipsis;
	font-weight: 300;
}

.icons-view .f.selected p {
	white-space: normal !important;
	word-wrap: break-word; 
}

.icons-view .f svg {
	font-size: 30px;
}

.icons-view .f .rename-input {
	display: block;
    margin-top: 2px;
	text-align:center;
}


/**** Information area at the bottom part of the page ****/
#info-bar {
	position:fixed;
	bottom:0;
	width:100%;
	box-shadow: 0px -1px 0px #dedede;
    background-color: #f7f7f7;
	z-index: 95;
	/*padding: 3px 3px 10px 3px;*/
}

#info-bar span {
	padding: 4px;
    padding-bottom: 0;
    font-size: 14px;
    color: #000;
    vertical-align: middle;
    font-weight: 300;
}

#info-bar .col {
	display: inline-block; margin-left: 1%; vertical-align: top;
}

#info-bar .col span {
	font-size:13px;
}


#info-bar #memory {
	font-size:13px; color:#696969;
}

#info-bar #progress, #info-bar #errors {
	display: inline-block;
}

#info-bar #memory #n {
	color: #5f5f5f; display:inline; font-weight:300; font-size: 13px;
}

#info-bar #fileicon {
	font-size: 20px; color: #a5a5a5; vertical-align: middle; display:none;
}




/**** Context Menus ****/
.cm {
	position:absolute;
	display:none;
	z-index: 100;
}
.cm ul {
	border: 1px solid #cecece;
    background: #f3f3f3;
    list-style-type: none;
    font-size: 12px;
    padding: 0;
    margin: 0;
    box-shadow: 2px 3px 2px #efefef;
    border-radius: 2px;
    width: 150px;
}

.cm ul li {
	padding: 10px 20px;
    padding-right: 45px;
    cursor: pointer;
	position: relative;
	color:#333;
}
.cm ul li:hover {
	background: #0064ff;
    color: white;
}

.cm li.cm-disabled {
	color: #555;
	cursor: default;
}
.cm li.cm-disabled:hover {
	color: #555;
	background: #efefef;
}
.cm li.cm-disabled svg {
	color: #bbb;
}

.cm li.separator {
	height: 0px;
    border-bottom: 1px solid #cccccc;
    padding: 0px;
    cursor: default;
}

.cm li.separator:hover{
	background: none;
}

.cm li svg {
	color:#026ecc;
	padding-right:5px;
}

.cm li:hover svg {
	color:#444;
	padding-right:5px;
}

.cm li svg.fa-caret-right {
	position: absolute;
    right: 15px;
}

.cm ul li ul {
	display:none;
	position: absolute;
    top: -1px;
    left: 135px;
    width: 150px;
}

.cm ul li:hover ul {
	display:inline-block;
}

.mcm ul {
    font-size: 14px;
    width: 185px;
    background: #fafafa;
    border-right:0;
	top: 35px;
}

#profile-pic {
	border: 3px solid white;
    border-radius: 20px;
	width: 12px;
    height: 12px;
    display: inline-block;
    top: -13px;
    position: relative;
    vertical-align: middle;
    box-shadow: 0px 0px 1px #888;
    background: #0869ff;
    text-align: center;
    cursor: pointer;
}

#profile-pic-txt {
	color: white; 
	font-size: 15px; 
	font-weight: 500; 
	position: relative; 
	top: 0; 
	cursor:pointer;
}

#profile-name {
	font-size: 12px; 
	vertical-align: middle; 
	padding: 7px; 
	color: #151515; 
	cursor: pointer; 
	position: relative;
	top: -13px; 
	font-weight: 400;
}

#bar #line-separator {
	border-right: 1px solid #d8d8d8;
	display: inline-block;
	height: 35px;
	vertical-align: baseline;
}
