@media only screen and (max-width:600px) {
    body .box-container {
        width:80%; 
    }

    body input {
        display:block;
        margin:10px auto;
    }

    body #email, body #pass {
        width:80%;
        font-size: 15px;
    }

    body #rememberme, body label[for=rememberme] {
        display:none;
    }

    body button {
        font-size: 17px;
    }
}

body {
	font-family: 'Roboto', Arial, sans-serif;
	margin: 0;
	padding: 0;
    letter-spacing: 0.2px;
	background-color: #fafafa;
}

button {
    background-color: #0f7dcc;
    border: 0;
    padding: 9px 20px;
    margin: 5px 0px;
    color: white;
    border-radius: 1px;
    font-size: 14px;
    cursor: pointer;
	vertical-align: baseline;
}

button:focus {
    outline: 0;
}

button:hover {
    background-color: #18a5e8;
}

a {
    color:#0f7dcc;    /*color: #58bb00;*/
    text-decoration: underline;
}

p {
    line-height:20px;
}

input, textarea {
    padding: 9px;
    border: 1px solid #65acc5;
    background: #fdfdfd;
    font-family: "Roboto";
}

.box-container {
	border:1px solid #ccc; 
	background: white; 
	width:500px; 
	margin:20px auto; 
	padding:20px; 
	text-align: center;
}

.box-container-txt {
	color:#888; 
	font-size:14px;
}

#register-container input {
    margin:5px;
}
