@media only screen and (max-width:590px) {
	/* For mobile phones: */

	body #file-zone {
		text-align:center;
	}
	
	body .listing-container {
		left: 0px;
		padding:0;
	}

	body #bar .path-separator, .path-location {
		display:none;
	}
	
	body #info-bar {
		text-align:center;
	}
	body #info-bar>span {
		display:block;
	}
	body #info-bar img {
		display:none;
	}
}

html {
	font-size: 62.5%;
}

html, body {
	height:100%;	
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

input {
	font-family: 'Roboto', sans-serif;
}

button {
    background-color: #0f7dcc;
    border: 0;
    padding: 9px 20px;
    margin: 5px 0px;
    color: white;
    border-radius: 8px;
    font-size: 1.6rem;
    cursor: pointer;
	vertical-align: baseline;
	width:220px;
}

button:focus {
    outline: 0;
}

button:hover {
    background-color: #18a5e8;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.rename-input {
	padding-left: 3px;
    font-size: 12px;
}

.sbar-btn {
	display: block;
	color: #0f7dcc;
	padding: 15px;
	font-size: 1.6rem;
	margin: 10px;
	cursor: pointer;
}


.sbar-btn:hover {
	color: #18a5e8;
}

#path-bar {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}

#bar {
	position:absolute;
	top:0;
	width:100%;
	text-align: left;
    background: #fbfbfb;
	z-index:100;
	border-bottom: 1px solid #eee;
	min-height: 45px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:0.5rem 0;
}

#path-bar .path-separator {
	font-weight: 500;
	color: #777;
	font-size: 1.6rem;
	padding: 0.8rem;
	cursor: default;
}

#path-bar .path-location {
	color: #555;
	font-size: 1.6rem;
	padding: 0.8rem;
	cursor: pointer;
	font-weight: 400;
}

#path-bar .path-location:hover {
	color:#333;
}


/* Bar menu button */
#bar svg {
	font-size: 3rem;
    color: #0f7dcc;

    cursor: pointer;
	margin: 2px 7px;
	
} #bar svg:hover {
	color:#3283fb;
}

.profile-area svg{
	color: #999;
	cursor: default;
	font-size: 1.3rem;
	vertical-align: middle;
	margin: 0;
}

#bar .search-area svg{
	color: #777;
	cursor: default;
	font-size: 1.7rem;
	vertical-align: middle;
	margin: 0;
}

#search-bar {
	font-size: 1.5rem;
	padding: 1.1rem;
	vertical-align: middle;
	min-width: 248px;
	border: 0px;
}

#file-zone {
    width: 100%;
    height: 100%;
	position:relative;
	display: grid;
	grid-template-columns: 300px auto;
}

#file-zone .msg {
	font-size: 20px;
    margin: 15px;
    color: #0869ff;
    display: block;
    padding: 20px;
    text-align: center;
	font-weight: 500;
	cursor: pointer;
}

.listing-container {
	width:100%;
	position: relative;
    top: 5.6rem;
	display:inline-block;
    box-sizing: border-box;
}

.f {
	display: inline-block;
    padding: 3px 6px;
    margin: 1.2rem;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 5px;
	overflow: hidden;
    text-overflow: ellipsis;
	width: 110px;
	vertical-align:top;
}

.f:hover {
	background-color: #fafafa;
}

.f.selected {
	background-color: #efefef;
}

.f.hidden {
	display:none;
}

.f .file-color {
	fill: #e0b85b;
}

.f .folder-color {
	fill: #0869ff;
}

/* General file icon */
.f svg {
	font-size: 4.2rem;
    vertical-align: bottom;
}

.icons-view .f {
	width: 10rem;
    padding: 12px;
	text-align:center;
	height: 7rem;
}

.icons-view .f p {
	display: block;
	margin: 5px 0px;
	white-space: nowrap;
	overflow: hidden !important;
	text-overflow: ellipsis;
	font-weight: 500;
	color: #555;
}

.icons-view .f.selected p {
	white-space: normal !important;
	word-wrap: break-word; 
}

.icons-view .f svg {
	font-size: 4.2rem;
}

.icons-view .f .rename-input {
	display: block;
    margin-top: 2px;
	text-align:center;
}


/**** Information area at the bottom part of the page ****/
#info-bar {
	position:fixed;
	bottom:0;
	width:100%;
	box-shadow: 0px -1px 0px #dedede;
    background-color: #f7f7f7;
	z-index: 95;
	/*padding: 3px 3px 10px 3px;*/
}

#info-bar span {
	padding: 4px;
    padding-bottom: 0;
    font-size: 14px;
    color: #000;
    vertical-align: middle;
    font-weight: 300;
}

#info-bar .col {
	display: inline-block; margin-left: 1%; vertical-align: top;
}

#info-bar .col span {
	font-size:13px;
}


#info-bar #memory {
	font-size:13px; color:#696969;
}

#info-bar #progress, #info-bar #errors {
	display: inline-block;
}

#info-bar #memory #n {
	color: #5f5f5f; display:inline; font-weight:300; font-size: 13px;
}

#info-bar #fileicon {
	font-size: 20px; color: #a5a5a5; vertical-align: middle; display:none;
}




/**** Context Menus ****/
.cm {
	position:absolute;
	display:none;
	z-index: 100;
}
.cm ul {
	border: 1px solid #cecece;
    background: #f3f3f3;
    list-style-type: none;
    font-size: 12px;
    padding: 0;
    margin: 0;
    box-shadow: 2px 3px 2px #efefef;
    border-radius: 2px;
    width: 150px;
}

.cm ul li {
	padding: 10px 20px;
    padding-right: 45px;
    cursor: pointer;
	position: relative;
	color:#333;
}
.cm ul li:hover {
	background: #0064ff;
    color: white;
}

.cm li.cm-disabled {
	color: #555;
	cursor: default;
}
.cm li.cm-disabled:hover {
	color: #555;
	background: #efefef;
}
.cm li.cm-disabled svg {
	color: #bbb;
}

.cm li.separator {
	height: 0px;
    border-bottom: 1px solid #cccccc;
    padding: 0px;
    cursor: default;
}

.cm li.separator:hover{
	background: none;
}

.cm li svg {
	color:#026ecc;
	padding-right:5px;
}

.cm li:hover svg {
	color:#444;
	padding-right:5px;
}

.cm li svg.fa-caret-right {
	position: absolute;
    right: 15px;
}

.cm ul li ul {
	display:none;
	position: absolute;
    top: -1px;
    left: 135px;
    width: 150px;
}

.cm ul li:hover ul {
	display:inline-block;
}

.mcm ul {
    font-size: 14px;
    width: 185px;
    background: #fafafa;
    border-right:0;
	top: 35px;
}

#profile-pic {
	border: 3px solid white;
    border-radius: 20px;
	width: 12px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0px 0px 1px #888;
    background: #0869ff;
    text-align: center;
    cursor: pointer;
}

#profile-pic-txt {
	color: white; 
	font-size: 15px; 
	font-weight: 500; 
	cursor:pointer;
}

#profile-name {
	font-size: 1.5rem; 
	vertical-align: middle; 
	padding: 7px; 
	color: #555;
	font-weight: 400;
}

#root-location {
	vertical-align: middle;
	font-size: 1.8rem;
	margin: 10px 20px;
	cursor: pointer;
	color: #555;	
}


.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 1vh;
	z-index: 100;
	text-align: center;
}

.modal .container {
	color: #777;
font-weight: 500;
font-size: 14px;
border: 1px solid #ccc;
display: inline-block;
margin: 2rem;
padding: 2rem;
border-radius: 5px;
background: #fff;
box-shadow: 1px 1px 1px #ddd;
}

.modal .close-modal {
	cursor: pointer;position: relative;top: -10px;font-size: 1.2rem; color: #717171;
}

.modal p {
	
	color: #424242;
font-weight: 500;
font-size: 1.6rem;}


.prop-title{
	text-align: left;
font-size: 1.5rem;
padding: 1rem 0;
}

.prop-value {
	text-align: left;
font-size: 1.6rem;
color: #444;
font-weight: 400;
padding: 1rem 0;
}